*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fafafa;
  font-family: Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  text-align: center;
  line-height: 1.5rem;
}

h1 {
  font-size: 300%;
  text-align: center;
}

h3 {
  font-size: 30px;
  line-height: 50px;
  margin: 15px 0 0 0;
}

h4 {
  font-size: 23px;
  font-weight: bolder;
}

h5 {
  font-size: 20px;
  font-weight: bolder;
  margin: 0;
}

button {
  border-radius: 45px;
  padding: 7px 20px;
  font-weight: bolder;
  font-size: 17px;
  border-color: #951fb3;
  background: none;
  margin: 0px 5px;
}

.button-icon {
  background: linear-gradient(-45deg, #6b2c94 32%, #fc01fd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.no-margin {
  margin: 0;
  padding: 0;
}

.mw {
  width: 100%;
}

.mh {
  height: 100%;
}

.footer {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 75px;
  padding: 0 20px;
  background-color: white;
  z-index: 99;
  box-shadow: 0 0 20px -10px rgb(0 0 0 / 80%);
}

.navbar-sizer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1130px;
  /* background-color: orange;  */
}

.navbar-logo {
  display: flex;
  justify-content: center;
  height: 37px;
}

.navbar-items {
  color: #73299a;
}

.navbar-items--ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.navbar-items--li {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-items--li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* mobilny navbar */

.navbar-mobile-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition-duration: 0.5s;
}

.navbar-mobile--close-btn {
  position: absolute;
  top: 10px;
  right: 250px;
  font-size: 30px;

  color: red;
}

.navbar-mobile-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.navbar-mobile-list-div {
  position: absolute;
  top: 0;
  right: 0;
  width: 280px;
  min-height: 100vh;
  background-color: white;
}

.navbar-mobile-items--ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.navbar-mobile-items--li {
  width: 100%;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 20px;
  color: black;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.navbar-mobile-items--li-a {
  color: black;
  width: 100%;
}

.navbar-mobile-dropdown--li {
  font-size: 18px;
  margin: 10px 25px;
}

.content {
  width: 92%;
  max-width: 1250px;
}

.top-div-margin {
  margin-top: 75px;
}

.part-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ball-left {
  position: absolute;
  left: 0;
  top: 75px;
  z-index: -2;
}

.ball-right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url(./img/background-img.png);
  z-index: -1;
}

.b-shape2 {
  position: absolute;
  top: 75px;
  right: 30px;
  width: 200px;
  z-index: 1;
  animation: leftRight 8s ease 0s infinite normal;
}

@keyframes leftRight {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-30px);
  }

}

.b-shape3 {
  position: absolute;
  top: 0;
  right: 0;
  animation: upDown 4s ease 0s infinite normal;

}

@keyframes upDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }
}

.top-div-left {
  flex-direction: column;
}

.top-border-title {
  margin-top: 50px;
  color: #951fb3;
  font-size: 18px;
  border-radius: 8px;
  background-color: #ede0f4;
}

.top-border-title--margin-top {
  margin-top: 100px;
}

.top-border-title--p {
  margin: 5px 25px;
}

.h-main {
  margin-bottom: 20px;
  margin-top: 15px;
}

.text-thinner {
  font-weight: lighter;
}

.top-div-short-desc {
  width: 95%;
}

.top-div-buttons {
  margin-top: 20px;
}

.top-div-short-desc--p {
  margin-top: 0;
  font-size: 18px;
}

.top-div-cc-info {
  color: gray;
  font-size: 14px;
  margin-bottom: 25px;
}

.top-div-right--img {
  width: 95vw;
}

.services-div {
  background-color: #ffffff;
}

.services-title {
  width: 80%;
}

.services-title--h {
  text-align: center;
  font-size: 32px;
  font-weight: bolder;
  line-height: 50px;
  margin-top: 18px;
}

.features-title--h {
  text-align: left !important;
}

.services-tiles {
  flex-direction: column;
}

.services-tile {
  align-items: flex-start;
  flex-direction: column;
  width: 90%;
  padding: 20px 30px;
  border-radius: 8px;
  border-color: grey;
  box-shadow: 0 3px 50px rgb(0 0 0 / 0.2);
  margin: 30px auto;
}

.services-icon {
  height: 55px;
}

.services-tile--h {
  margin: 20px 0 5px 0;
}

.generic-p {
  text-align: left;
  color: grey;
}

.text-center {
  text-align: center !important;
}

.service-bottom-link {
  margin: 30px 0 60px 0;
}

.generic-link {
  font-weight: bold;
}

.benefit-box {
  background-color: #EBEDF2;
  background-image: url(img/ashapemix.png);
  background-position: center right;
  background-repeat: no-repeat;
}

.picture-benefit-box {
  flex-direction: column;
}

.benefit-icon-sizer {
  width: 40px;
  height: 40px;
  filter: invert(100%);
}

.picture-benefit-box-description {
  flex-direction: column;
  align-items: flex-start;
}

.picture-benefit-box-description--icon {
  border-radius: 90px;
  background-color: #6c2b95;
  color: white;
  padding: 12px;
  border-style: hidden;
  margin-top: 15px;
}

.picture-sizer {
  width: 80%;
  max-width: 409px;
  margin: 50px 0;
}

.features-box {
  background-color: white;
}

.features-title {
  justify-content: flex-start;
}

.features-elements {
  flex-direction: column;
  width: 90%;
}

.features-trail-button {
  margin: 30px auto 50px auto;
}

.features-container {
  flex-direction: column;
  margin-bottom: 30px;
}

.features-container--circle1 {
  padding: 5px;

  border: 1px solid white;
  border-radius: 90px;
}

.features-container--circle2 {
  padding: 20px;
  border: 5px solid white;
  border-radius: 45px;
}

.software-dev-circle--background {
  background-color: #d9f3de;
}

.software-dev-circle--color {
  color: #049507;
}

.ui-ux-circle--background {
  background-color: #e1e1f5;
}

.ui-ux-circle--color {
  color: #6c2b95;
}

.support-circle--background {
  background-color: #ebdcf4;
}

.support-circle--color {
  color: #d912dc;
}

.tools-box {
  background-color: #f0f2f7;
  padding-bottom: 50px;
}

.image-sizer-software {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 0;
}

.faq-item--row {
  flex-direction: row;
}

.faq-expander {
  font-size: 14px;
  color: white;
  background-color: #6c2b95;
  width: 18px;
  height: 18px;
  margin: 3px;
  padding: 0;
  border: none;
}

.faq-box {
  background-color: #ECEEF2;
  background-image: url(img/mixpoint.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.question-a,
.question-b,
.question-c,
.question-d,
.question-e,
.question-f,
.question-g,
.question-h {
  font-size: 0px;
}

.pricing-content {
  width: 85%;
}

.pricing-box {
  background-color: rgba(255, 255, 255, 0);
}

.pricing-box-elements {
  width: 90%;
  flex-direction: column;
}

.pricing-box-element {
  width: 100%;
  margin-bottom: 40px;
  border-radius: 15px;
  -webkit-box-shadow: 0 23px 43px 0 rgb(0 0 0 / 13%);
  max-width: 326px;
}


.pricing-box-element-top {
  background: rgb(93, 93, 93);
  background: linear-gradient(90deg, rgba(93, 93, 93, 1) 0%, rgba(149, 149, 149, 1) 100%);
}

.pricing-box-element-top--icon {
  color: black;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  margin: 30px 20px 40px 50px;
}

.pricing-box-element-top--price {
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 0 0 0;
}

.pricing-box-element-top--p-title {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  margin: 0 0 15px 0;
}

.pricing-box-element-top--p-cost {
  color: white;
  font-size: 50px;
  font-weight: bolder;
  margin: 0;
}

.pricing-box-element-line {
  align-items: center;
}

.pricing-box-element-line--top {
  padding-top: 25px;
}

.pricing-box-element-bottom {
  background-color: white;
  border: 1px white;
  border-radius: 0 0 14px 14px;
}

.pricing-box-element-line-green {
  color: white;
  background: rgb(0, 255, 0);
  background: linear-gradient(0deg, rgba(0, 255, 0, 1) 0%, rgba(0, 201, 0, 1) 100%);
  box-shadow: 0 3px 15px rgb(0 210 0 / 0.5);
  border-radius: 45px;
  padding: 5px;
  margin: 0 10px 0 40px;
}

.option-icon-sizer {
  width: 48px;
  height: 48px;
}

.pricing-box-element-line--p {
  font-weight: bold;
  font-size: 14px;
  color: gray;
  margin: 15px 0;
}

.pricing-box-element-button {
  margin-top: 20px;
  padding-bottom: 40px;
}

.bottom-box {
  background-color: #1b0234;
  overflow-x: hidden;
}

.subscribe-box {
  position: relative;
  background-color: #6c2b95;
  color: #ffffff;
  border: 1px;
  border-radius: 15px;
  width: 100%;
}

.subscribe-box-content {
  flex-direction: column;
  text-align: center;
}

.subscribe--p {
  font-size: 45px;
  font-weight: bolder;
}

.picture-sizer-clouds-s {
  width: 60px;
  position: relative;
  left: 120px;
  bottom: 130px;
  animation: cloudFly 17s ease 0s infinite normal;
}

.picture-sizer-clouds {
  position: relative;
  left: 0px;
  bottom: 70px;
  animation: cloudFly 16s ease 0s infinite normal;
}

@keyframes cloudFly {

  0%,
  100% {
    transform: translateX(-200px);
  }

  50% {
    transform: translateX(+500px);
  }

}

.show-full-elements,
.show-semi-res-elements {
  display: none;
}

.hide-full-elements {
  display: block;
}

hr {
  margin: 0;
}

/* mobilny navbar */

@media (min-width: 425px) {}

@media (min-width: 768px) {
  .show-semi-res-elements {
    display: block;
  }
}

@media (min-width: 1030px) {
  .show-full-elements {
    display: block;
  }

  .hide-full-elements {
    display: none;
  }
}

@media (min-width: 1440px) {}