*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fbfbfd;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 425px) {}

@media (min-width: 768px) {}

@media (min-width: 1030px) {}

@media (min-width: 1440px) {}